.recipes-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.recipe-card {
    margin: 10px;
    width: 150px;
    height: 200px;
    align-items: center;
    margin-top: 20px;
}